@import "tailwindcss";
@plugin "tailwindcss-animate";

/* @custom-variant dark (&:where([data-theme="dark"] *)); */

@theme {
  /* Colors */
  --color-background: #ffffff;
  --color-foreground: #191925;
  --color-card: #fafafa;
  --color-card-foreground: #191925;
  --color-popover: #ebebeb;
  --color-popover-foreground: #191925;
  --color-primary: #015066;
  --color-primary-foreground: #ffffff;
  --color-secondary: #9b3189;
  --color-secondary-foreground: #fafafa;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #343248;
  --color-accent: #d2f508;
  --color-accent-foreground: #404040;
  --color-destructive: #ff383c;
  --color-destructive-foreground: #ffffff;
  --color-border: #ebebeb;
  --color-input: #ebebeb;
  --color-ring: #22a0a0;
  --color-swiper-navigation-color: #ff00a2;

  /*Font*/
  --radius: 1rem;
  --font-display: "Carter One", cursive;
  --font-sans: "Nunito", sans-serif;

  /* Heights */
  --spacing-innerfull: calc(100dvh - 9rem);
}

.dark {
  --color-background: #191925;
  --color-foreground: #ffffff;
  --color-card: #191925;
  --color-card-foreground: #f2f2f2;
  --color-popover: #171717;
  --color-popover-foreground: #f2f2f2;
  --color-primary: #00d8f8;
  --color-primary-foreground: #191925;
  --color-secondary: #ff00a2;
  --color-secondary-foreground: #191925;
  --color-muted: #404040;
  --color-muted-foreground: #f5f5f5;
  --color-accent: #999f5f;
  --color-accent-foreground: #f5f5f5;
  --color-destructive: #c20002;
  --color-destructive-foreground: #ffffff;
  --color-border: #525252;
  --color-input: #3d3d3d;
  --color-ring: #1c7676;
}

@utility rounded-lg {
  border-radius: var(--radius);
}
@utility rounded-md {
  border-radius: calc(var(--radius) - 2px);
}
@utility rounded-sm {
  border-radius: calc(var(--radius) - 4px);
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@utility animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}
@utility animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@layer base {
  :root {
    --chart-1: #4aa2b4;
    --chart-2: #cc0e94;
    --chart-3: #cc4810;
    --chart-4: #10cc48;
    --chart-5: #ffbb4e;
    --chart-6: #edb610;
    --chart-7: #5281e0;
    --chart-8: #7139df;
    --chart-9: #e21de2;
    --chart-10: #e6664c;
    --chart-11: #73ac39;
    --chart-12: #2ac8ad;
    --chart-13: #439ac6;
    --chart-14: #f98521;
    --chart-15: #c62a51;
  }
  .dark {
    --chart-1: #00d8f8;
    --chart-2: #cc0e94;
    --chart-3: #cc4810;
    --chart-4: #10cc48;
    --chart-5: #ffbb4e;
    --chart-6: #edb610;
    --chart-7: #5281e0;
    --chart-8: #7139df;
    --chart-9: #e21de2;
    --chart-10: #e6664c;
    --chart-11: #73ac39;
    --chart-12: #2ac8ad;
    --chart-13: #439ac6;
    --chart-14: #f98521;
    --chart-15: #c62a51;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1 {
    @apply text-primary mb-6 text-left text-3xl font-extrabold sm:text-4xl md:text-5xl;
  }
  h2 {
    @apply text-3xl font-bold md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply mt-2 underline;
  }
  p {
    @apply mt-2;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4;
  }
  .wp-block-list {
    @apply ml-6 list-disc;
  }
}
